<div id="product-insert-toggle" onclick="switchDetailMenu(this)"
  class="mobile-box b2 container border-lg-st shadow-lg-st radius-5 padding-15 nowrap margin-top-5 pointer">
  <div class="mobile-box b6 container center opacity-07"><img id="insert-icon" src="/images/icon/increase.png"
      class="image-prop size-15 center">
  </div>
  <div class="mobile-box b2-3 lucida-grande em09 center">Adicionar produto</div>
</div>