<html>

<head>
	<%- include('./partials/head.ejs') %>
</head>

<body>
	<%- include('./partials/userHeader.ejs') %>
	<%- include('./partials/sidebar.ejs') %>
	<section>
	</section>
</body>
<footer>
	<%- include('./partials/footer.ejs') %>
</footer>

</html>