<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <section class="container h-center margin-top-20 margin-bottom-50">
    <div class="box b3-4 container h-center ground padding-5">
      <div class="box b1 margin-top-10">
        <div class="lucida-grande em15 center bold">Apresente seus produtos de forma profissional</div>
        <div class="lucida-grande em15 center bold">e organizada</div>
      </div>
      <div
        class="box b2 btn-act lucida-grande center em12 bold shadow-lg-st radius-5 padding-15 margin-top-10 pointer noselect"
        onclick="window.location.href = '/user/signup'">Começar grátis</div>
      <div class="mobile-box b1 lucida-grande center em09 margin-top-5 margin-bottom-10 pointer">Desejo entender
        melhor</div>
    </div>

    <div class="box b3-4 container ground margin-top-10 padding-15">
      <div class="box b1 lucida-grande bold">Como saber se o Cotalogo é para mim?</div>
      <div class="box b1 lucida-grande em09">1 - Falta de tempo e dificuldade em apresentar seus produtos de
        maneira profissional e organizada.</div>
      <div class="box b1 lucida-grande em09">2 - Perda de vendas por não ter um catálogo atualizado e disponível
        para apresentação.
      </div>
      <div class="box b1 lucida-grande em09">3 - Dificuldade em criar diferentes catálogos para atender às
        necessidades de diferentes
        clientes.</div>
      <div class="box b1 lucida-grande em09">4 - Custo alto em produzir e imprimir catálogos físicos.</div>
      <div class="box b1 lucida-grande em09">5 - Dependência de enviar fotos de produtos pelo WhatsApp para
        apresentar aos clientes.
      </div>
      <div class="box b1 lucida-grande bold">Se você se identificou com esses problemas, experimente Cotalogo e
        os solucione em minutos.
      </div>
    </div>
  </section>
</body>
<%- include('./partials/footer.ejs') %>

</html>