<form id="variation-filter-form" class="box a1 container">
  <input type="hidden" name="category-id" value="">
  <input type="text" name="name" class="mobile-box b7-8 input-generic center" placeholder="" autocomplete="off" hidden>
  <button type="submit" name="submit" class="mobile-box b9 input-generic noborder margin-top-5" hidden><img
      class='size-20 icon pointer noselect' src="/images/icon/filter.png"></button>
  <div id="variation-filter-box" class="box a1 container">
    <div id="variation-filter-div" class="box b1 container"></div>
  </div>
</form>