<div id="catalog-filter-container" class="box b3-5 container ground border margin-top-5 padding-10 radius-10">
  <div class="mobile-box b10"></div>
  <div class="mobile-box b4-5 em12 lucida-grande bold center">Meus catálogos</div>
  <div class="mobile-box b10 center"><img id="catalog-filter-expander" class="size-20 icon noselect"
      src="/images/icon/retract.png"
      onclick="lib.displayDiv('catalog-filter-box', this, '/images/icon/expand.png', '/images/icon/retract.png');">
  </div>
  <div id="catalog-filter-box" class="box a1 container ground">
    <form id="catalog-filter-form" class="box b1 container" style="display: none;">
      <input type="submit" name="submit">
    </form>
    <div id="catalog-filter-div" class="box b1 container margin-top-5 h-center"></div>
  </div>
</div>