<html>

<head>
	<%- include('./../partials/head.ejs') %>
</head>

<body>
	<section class="container h-center margin-top-15 lucida-grande">
		<div class="box b2-3 ground margin-top-15 padding-15">
			<div class="box b1 lucida-grande bold center"><%= msg %></div>
			<div class="box b1 lucida-grande em09 margin-top-15 center"><a class="underline-link padding-2" href="/">Retornar
					para
					página
					principal</a></div>
		</div>
	</section>
</body>
<footer>
	<%- include('./../partials/footer.ejs') %>
</footer>

</html>