<div class="box a4-5 container border-st radius-5 padding-10 margin-top-5">
  <div class="mobile-box b9-10 em11 bold lucida-grande noselect">Como criar um catálogo?</div>
  <div class="mobile-box b10 center"><img class="size-20 icon noselect" src="/images/icon/expand.png"
      onclick="lib.displayDiv('catalog-create-help', this, '/images/icon/expand.png', '/images/icon/retract.png');">
  </div>
  <div id="catalog-create-help" class="box b1 container" style="display: none;">
    <div class="box b4-5 em09 lucida-grande noselect">Para criar um novo catálogo é simples,
      <br>basta escolher o nome que deseja dar ao catálogo,
      <br>e informar o endereço que será utilizado para encontrá-lo.
    </div>
    <div class="box b4-5 em09 lucida-grande noselect margin-top-10">No exemplo abaixo iremos criar um catálogo
      para
      atacado:</div>
    <img src="/images/help/catalog/create-form.png" class="image-prop box b1">
    <div class="box b4-5 em09 lucida-grande noselect margin-top-10">Dessa forma será possível acessar seu novo
      catálogo através do endereço <b>cotalogo.com/suaempresa/atacado</b></div>
  </div>
</div>