<section class="container" style="background-color: rgb(0, 0, 0)">
  <div class="box b1 container">
    <div class="mobile-box a5 center"></div>
    <div class="mobile-box a3-5 em20 bold lucida-grande padding-3 center noselect pointer"
      style="color:rgb(225, 225, 225)" onclick="window.location.href='/'">Cotalogo</div>
    <div class="mobile-box b5 container">
      <div class="mobile-box container right padding-5">
        <% if(!user){ %>
        <div class="mobile-box lucida-grande em09 underline-link radius-5 padding-10 noselect pointer"
          style="color:#fff;" onclick="window.location.href = '/user/login'">Login</div>
        <% } else { %>
        <a><img class="mobile-box noselect icon size-30 padding-5"
            onclick="lib.confirm('Deseja sair?', (r) => { if(r==true){ window.location.href='/user/logout' } })"
            src="/images/icon/logout-white.png"></a>
        <% } %>
      </div>
    </div>
  </div>
</section>