<form id="product-filter-form" class="box b1 container border-st radius-5 padding-5 margin-top-10"
  style="display: none;">
  <div class="box b1 underline lucida-grande em08 bold center">Ver produtos do catálogo</div>
  <input type="hidden" name="catalog_id" value="">
  <input type="text" name="code" class="box b6 lucida-grande bold input-generic padding-5 margin-top-5 center"
    placeholder="Código" autocomplete="off" role="presentation">
  <input type="text" name="name" class="box b2 lucida-grande bold input-generic padding-5 margin-top-5 center"
    placeholder="Nome do produto" autocomplete="off" role="presentation">
  <select name="status" class="box b6 input-generic lucida-grande bold padding-5 margin-top-5">
    <option value="Ativo">Ativo</option>
    <option value="Inativo">Inativo</option>
  </select>
  <input type="submit" name="submit" class="box b6 input-generic btn-act bold noborder padding-5 margin-top-5 pointer"
    value="Buscar">
</form>