<div id="product-filter-toggle" onclick="switchDetailMenu(this)"
  class="mobile-box b2 container border-lg-st shadow-lg-st radius-5 padding-15 margin-top-5 nowrap pointer">
  <div class="mobile-box b6 container center opacity-07"><img id="filter-icon" src="/images/icon/search.png"
      class="image-prop size-15 center">
  </div>
  <div class="mobile-box b2-3 lucida-grande em09 center">Buscar produtos</div>
</div>