<h1 class="box b1 underline lucida-grande center">Informações da conta</h1>
<div class="box b4 container border radius-5 padding-10 margin-top-5 h-center">
  <div class="box b1 lucida-grande em09 bold center">Saldo</div>
  <div class="box b1 lucida-grande em11 bold center">R$<%= user.balance.toFixed(2) %></div>
</div>

<div class="box b4 container border radius-5 padding-10 margin-top-5 h-center">
  <div class="box b1 lucida-grande em09 bold center">Custo mensal</div>
  <div class="box b1 lucida-grande em11 bold center">R$32.94</div>
</div>

<div class="box b4 container border radius-5 padding-10 margin-top-5 h-center">
  <div class="box b1 lucida-grande em09 bold center">Catálogos</div>
  <div class="box b1 lucida-grande em11 bold center">2</div>
</div>

<div class="box b4 container border radius-5 padding-10 margin-top-5 h-center">
  <div class="box b1 lucida-grande em09 bold center">Imagens</div>
  <div class="box b1 lucida-grande em11 bold center">96</div>
</div>