<div id="product-dropdown-box" class="box b2 container dropdown ground margin-top-5">
  <input type="text" id="product-dropdown-input" name="product_id" data-id=""
    class="mobile-box a1 input-generic border-lg-st nofocus lucida-grande bold center" oninput="productDropdown(this)"
    placeholder="Nome ou código do produto" role="presentation" autocomplete="off">
  <div id="product-dropdown-content" class="ground dropdown-content border"></div>
</div>

<%- include('./script.ejs') %>