<div id="category-detail-box" class="box b2-5 container ground border-st radius-5 padding-10" style="display:none">
  <%- include('./variation/create/form.ejs') %>
  <div id="category-filter-title" class="box b1 container lucida-grande bold center"></div>
  <%- include('./variation/filter/form.ejs') %>
</div>