<form id="variation-create-form" class="box a1 container">
  <div class="mobile-box b10 container center"><img onclick="closeDetail()" src="/images/icon/back-arrow.png"
      class="image-prop size-20 icon center">
  </div>
  <div id="category-create-title" class="mobile-box b4-5 lucida-grande bold center"></div>
  <div class="mobile-box b10"></div>
  <input type="hidden" name="id" value="">
  <input type="hidden" name="category-id" value="">
  <input type="text" name="name" class="box b3-5 lucida-grande bold border-bottom-lg-st padding-5 margin-top-10 center"
    placeholder="" autocomplete="off">
  <div class="box a2-5 container">
    <button type="submit" name="submit"
      class="box b1 btn-act lucida-grande bold noborder radius-5 padding-10 pointer">Cadastrar
      variação</button>
    <div id="variation-cancel-btn" onclick="variationUpdateCancel()"
      class="mobile-box b3 btn-cancel lucida-grande em09 bold noborder radius-5 padding-10 pointer center"
      style="display: none;">Cancelar</div>
  </div>
</form>