<div id="code-help" class="container msg-window h-center" style="display:none;">
  <div class="box a5-6 container ground border radius-5 padding-10 border margin-top-50">
    <div class="mobile-box a9-10"></div>
    <img class='mobile-box center size-20 margin-top-15 icon pointer' onclick="lib.display('code-help', 'none')"
      src="/images/icon/close.png">

    <div class="box a1 container h-center">
      <%- include('./info/catalog-create.ejs') %>
      <%- include('./info/catalog-tasks.ejs') %>
      <%- include('./info/catalog-price.ejs') %>
    </div>
  </div>
</div>