<div id="catalog-create-container" class="box b1 container">
  <div class="mobile-box b10 center"></div>
  <div id="catalog-create-label" class="mobile-box b4-5 em12 lucida-grande bold center">Novo catálogo</div>
  <div class="mobile-box b10 center"><img id="catalog-create-expander" class="size-20 icon noselect"
      src="/images/icon/expand.png"
      onclick="lib.displayDiv('catalog-create-form', this, '/images/icon/expand.png', '/images/icon/retract.png');">
  </div>
  <form id="catalog-create-form" class="box b1 container padding-10" style="display:none;">
    <input type="hidden" name="id" value="">

    <div class="box b1 lucida-grande em09 bold margin-top-10">Escolha o link do seu novo catálogo
    </div>
    <input type="text" name="url" class="mobile-box b9-10 lucida-grande bold border-bottom padding-5 nofocus"
      autocomplete="off" maxlength="100" value="cotalogo.com/<%= user.business %>/">

    <div class="mobile-box b10 container">
      <img class='image-prop size-20 center icon pointer noselect' onclick="lib.display('code-help', '')"
        src="/images/icon/help.png">
    </div>

    <input type="submit" name="submit"
      class="mobile-box b2-3 em10 bold btn-act noborder shadow-lg-st height-50 center margin-top-20 radius-5 pointer"
      value="Criar catálogo">

    <div id="catalog-update-cancel" onclick="catalogUpdateCancel()"
      class="mobile-box b3 container em10 bold btn-cancel noborder shadow-lg-st height-50 center h-center margin-top-20 radius-5 pointer"
      style="display: none;">Cancelar</div>
    <div>
    </div>
  </form>
</div>